@import "tailwindcss";

@plugin "daisyui" {
  themes: "base";
}

@plugin "daisyui/theme" {
  name: "base";
  default: true;
  color-scheme: "dark";
  --color-base-100: oklch(21% 0.006 285.885);
  --color-base-200: oklch(14% 0.005 285.823);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: oklch(76% 0.188 70.08);
  --color-primary-content: oklch(98% 0.022 95.277);
  --color-secondary: oklch(62% 0.214 259.815);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(62% 0.265 303.9);
  --color-accent-content: oklch(97% 0.014 308.299);
  --color-neutral: oklch(37% 0.013 285.805);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/* Fix for autofill color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
}

.dev {
  outline: 1px solid red;
}